.login-options {
    margin-top: 20px;   
}
.login-options {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
}
.login-options li {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
.login-options li:last-of-type {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}
.login-username, .login-avatar {
    text-align: center;   
}
.login-username {
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    text-shadow: 1px 1px rgba(0, 0, 0, .75);   
}
.login-username a {
    color: #FFF !important;   
}
.login-avatar {
    margin-bottom: 20px;
}
.login-avatar img {
    border: 5px solid #FFF;
    border-radius: 100px;
    width: 130px;
}
.login-header {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: -15px;
}