<?xml version="1.0" encoding="utf-8"?>
<settings>
    <fields type="hidden" name="id" />
    <fields type="text" length="255" name="title" label="Title" required="required" />
    <fields type="text" name="suffix" label="CSS Class" />
    <fields type="select" name="show_title" label="Show Title" values="No|0,Yes|1" default="1" />
    <fields type="select" name="published" label="Published" values="No|0,Yes|1" default="1" />
    <fields type="template_position" name="position" label="Template Position" />
    <fields type="text" name="ordering" label="Ordering" placeholder="Leave blank to automatically assign order" />
    <fields type="sql" multiple="true" name="pages" label="Show on pages" query="SELECT id, title FROM #__menus_items WHERE published = '1'" key="id" keyvalue="title" default_option="ALL PAGES|0" />
</settings>