.comment {
    background: #E0E0E0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.comment-avatar, .article-avatar {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 5px solid #FFF;
    max-width: 80%;
}
.comment h3 {
    margin-top: 0px;   
}
.comment-information time {
    display: inline-block;
    float: right;
    font-style: italic;
    padding-right: 20px;
    font-weight: 400;
}
.comment-content i {
    color: #777;
    font-size: 18px;
    line-height: 18px;
    padding-right: 10px;
}
.comment-content i:last-of-type {
    padding-left: 10px;
    padding-right: 0px;
}
.article-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
    margin-bottom: -55px;
    position: relative;
    top: -55px;
}
.article-content {
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px
}
.article-content p:last-of-type {
    margin-bottom: 0px;
}
.article-information {
    margin-bottom: 20px;
}
.article-image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.article-title {
    margin-top: 7px;
    background: #FFF;
    padding: 10px 20px;
    width: auto;
    display: inline-block;
}
.article-avatar-container {
    text-align: center;   
}
.article-publish-date {
    padding-left: 20px;
    font-style: italic;
}
.category-article-title {
    margin-top: 0px;
}
.category-article-title a {
    color: #000;
    text-decoration: none;
}
.category-article {
    border-bottom: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
}
.category-article:only-child {
    border-bottom: none;
    margin-bottom: 20px;
}
.category-article-image {
    height: 150px;
    background-position: center;
}
.category-read-more {
    margin: 10px 0px;   
}
.category-articles {
    margin-top: 40px;   
}
.share-buttons a {
    font-size: 28px;
    display: inline-block;
    text-align: center;
    height: 39px;
    width: 50px;
    border-radius: 3px;
    color: #FFF !important;
    padding-top: 11px;
    margin-right: 5px;
    margin-bottom: 20px;
    position: relative;
    transition: top .25s;
    top: 0px;
}
.share-buttons a:hover {
    top: -5px;
}
.share-buttons a:last-of-type {
    margin-right: 0px;   
}
.whatsapp-button {
    background: #075e54;
}
.facebook-button {
    background: #3b5998; 
}
.twitter-button {
    background: #1da1f2;   
}
.google-button {
    background: #dd4b39;   
}
.category-time {
    color: #333;
    margin-bottom: 10px;
    font-style: italic;
}
.article-comment-avatar-container, article-comment-info-container {
    padding: 20px;   
}