:root {
    --site-width: 85vw;
    --stormysea: #335252;
    --fog: #D4DDE1;
    --rust: #AA4B41;
    --rust-hover: #853B34;
    --charcoal: #2D3033;
}
body, html {
    overflow-x: hidden !important;
    min-height: 100vh;
}
body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 16px !important;
    color: #333;
    font-family: "Open Sans", "Arial", sans-serif !important;
    font-weight: 500;
    letter-spacing: -1px !important;
    background: var(--charcoal);
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
    color: var(--rust);
    transition: color .25s;
}
a:hover {
    text-decoration: none;
    color: var(--rust-hover);
}
.body-container {
    background: url('../images/pattern.png');
}
.footer-container {
    background: var(--charcoal);
    color: #FFF;
}
.footer-content {
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.header-container {
    background: var(--shadow);
    color: #FFF;
}
.header-content .row {
    margin-right: 0px !important;   
}
.body-content {
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
    padding: 40px;  
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;  
}
.button {
    background: var(--rust);
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 5px;
    transition: background .25s;
    border: none;
}
.button:hover {
    text-decoration: none;
    color: #FFF;
    background: var(--rust-hover);
}
input[type="text"],input[type="password"], input[type="email"] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    margin-bottom: 20px;
}
.system-message {
    background: #FFF;
    padding: 20px;
    border-radius: 0.25rem;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}
.system-message.success {
    background: #b2f2bb;  
}
.system-message.danger {
    background: #ffc9c9;   
}
.system-message.warning {
    background: #ffec99;   
}
.system-message.info {
    background: #a3daff;   
}
.component-container {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.module-title {
    margin-top: 0px;
    margin-bottom: 20px;
}
.header-login .dropdown {
    float: right;   
}
.user-menu {
    padding: 20px;
    border: none;
    color: #FFF;
    cursor: pointer;
    background: transparent;
    display: inline-block;
    text-decoration: none !important;
    float: right;
}
.user-menu:hover {
    color: #FFF;   
}
.menu-toggler {
    display: none;   
}
.menu-container {
    background: var(--charcoal);
}
.menu-container ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul.menu-list > li > a {
    display: inline-block;
    padding: 20px 30px;
    color: #FFF;
    text-decoration: none;
    transition: background .25s;
}
ul.menu-list > li > a:hover, ul.menu-list > li.active > a {
    background: var(--rust);   
}
.header-content {
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
}
.login-options {
    margin-top: 20px;   
}