:root {
    --site-width: 95vw;   
}
.mobile-menu-toggler {
    text-align: right;   
}
.mobile-menu-button {
    color: #FFF;
    background: var(--link);
    padding: 8px 10px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.mobile-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--charcoal);
}
.mobile-menu-container:not(.active) {
    display: none;
}
.mobile-menu-list {
    padding: 10px;
    list-style-type: none;
}
.mobile-menu-list a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid var(--link);
    color: #FFF;
}
.mobile-menu-list li {
    position: relative;   
}
.mobile-menu-list .parent-toggler {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #FFF;
    font-size: 20px;
    background: var(--link);
    padding: 8px 10px;
    cursor: pointer;
}
.mobile-menu-list .parent-toggler:empty {
    display: none;   
}
.mobile-menu-list li.parent:not(.active) > ul {
    display: none;   
}
.body-content {
    padding: 20px;   
}
.category-container {
    margin-bottom: 20px;   
}
.category-article-info .card-title {
    margin-top: 20px;   
}
.category-article:last-of-type {
    padding-bottom: 0px;   
}
.article-title {
    margin-top: 20px !important;   
}
.login-options, .register-container, .reset-container, .user-information {
    margin-bottom: 20px;   
}
.branding-container {
    padding-top: 80px;
}
.website-title {
    font-size: 2.6rem;   
}