:root {
    --site-width: 85vw;
    --stormysea: #335252;
    --fog: #D4DDE1;
    --rust: #AA4B41;
    --rust-hover: #853B34;
    --charcoal: #2D3033;
    --link: #283655;
    --link-accent: #4D648D;
    --blueberry: #283655;
    --base: #1E1F26;
    --accent: #4D648D;
}
body, html {
    overflow-x: hidden !important;
    min-height: 100vh;
}
body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 16px !important;
    color: #333;
    font-family: "Open Sans", "Arial", sans-serif !important;
    font-weight: 500;
    letter-spacing: -1px !important;
    background: var(--charcoal);
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
    color: var(--link);
    transition: color .25s, background .25s;
}
a:hover {
    text-decoration: none;
    color: var(--link-accent);
}
p {
    line-height: 1.3rem;   
}
.footer-container {
    background: var(--blueberry);
    color: #FFF;
}
.footer-container .module {
    border: none;
    border-radius: 0px;
}
.footer-container .module-title {
    background: transparent;   
}
.footer-content {
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #FFF;
}
.footer-content pre {
    color: #FFF;   
}
.footer-content a {
    color: #FFF;
    text-decoration: underline;
}
.footer-content ul {
    list-style-type: none;
    padding: 0px;
}
.footer-content li {
    display: block;
    margin-bottom: 10px;
}
.footer-content li:last-of-type {
    margin-bottom: 0px;   
}
.footer-content .module-title, .footer-content .module-inner {
    padding: 0px;   
}
.footer-content .module-title {
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.header-container {
    background: var(--shadow);
    color: #FFF;
}
.body-container {
    background: url('../images/pattern.png');   
}
.body-content {
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
    padding: 30px;  
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;  
}
.button {
    background: var(--link);
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 5px;
    transition: background .25s;
    border: none;
    cursor: pointer;
}
.button.hollow {
    background: transparent;
    color: #AA4B41;
}
.button.hollow:hover {
    background: transparent;
    color: #853B34;
}
.button:hover {
    text-decoration: none;
    color: #FFF;
    background: var(--link-accent);
}
input[type="text"],input[type="password"], input[type="email"] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    margin-bottom: 20px;
}
.system-message {
    background: #FFF;
    padding: 20px;
    border-radius: 0.25rem;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}
.system-message.success {
    background: #b2f2bb;  
}
.system-message.danger {
    background: #ffc9c9;   
}
.system-message.warning {
    background: #ffec99;   
}
.system-message.info {
    background: #a3daff;   
}
.header-login .dropdown {
    float: right;   
}
.user-menu {
    padding: 20px;
    border: none;
    color: #FFF;
    cursor: pointer;
    background: transparent;
    display: inline-block;
    text-decoration: none !important;
    float: right;
}
.user-menu:hover {
    color: #FFF;   
}
.menu-toggler {
    display: none;   
}
.menu-container {
    background: var(--charcoal);
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 100;
}
.menu-container .module {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}
.menu-container .module-inner {
    padding: 0px;   
}
.menu-container .menu-list, .menu-container .menu-list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu-container .menu-list li {
    position: relative;   
}
.menu-container .menu-list li.top-level {
    float: left;
}
.menu-container .menu-list li.top-level > a > svg {
    float: right;   
}
.menu-container ul.menu-list > li > a {
    display: inline-block;
    padding: 15px;
    color: #FFF;
    text-decoration: none;
    transition: background .25s;
}
.menu-container ul.menu-list > li > a:hover, ul.menu-list > li.active > a {
    background: var(--link-accent);   
}
.menu-container .menu-list li.parent > ul {
    display: none;
}
.menu-container .menu-list li.first-child > a, .menu-container .menu-list li.second-child > a {
    background: var(--link);
    padding: 15px;
    border-bottom: 1px solid var(--blueberry);
    color: #FFF;
    display: block;
    min-width: 230px;
}
.menu-container .menu-list li.first-child:hover > a, .menu-container .menu-list li.second-child:hover > a {
    background: var(--link-accent);
}
.menu-container .menu-list li.first-child:last-of-type > a, .menu-container .menu-list li.second-child:last-of-type > a {
    border-bottom: none;   
}
.menu-container .menu-list li.first-child.parent > a::after {
    content: "›";
    display: block;
    position: absolute;
    right: 15px;
    top: 12px;
    color: #FFF;
    font-size: 32px;
}
.menu-container .menu-list li.parent:hover {
    background: var(--link);   
}
.menu-container .menu-list li.parent:hover > ul {
    display: block;
    position: absolute;
    top: 46px;
    left: 0px;
    border-top: 1px solid var(--link);
}
.menu-container .menu-list li.parent.first-child:hover > ul {
    left: 230px;
    top: -1px;
}
.header-content {
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
}
.login-options {
    margin-top: 20px;   
}
.module {
    border: 1px solid var(--charcoal);
    margin-bottom: 20px;
    border-radius: 3px;
}
.module:last-of-type {
    margin-bottom: 0px;   
}
.module-title {
    margin-top: 0px;
    background: var(--charcoal);
    padding: 10px 15px;
    color: #FFF;
    font-size: 22px;
    line-height: 22px;
}
.module-inner {
    padding: 15px;   
}
.latestnews-article-image {
    width: 100%;   
}
.latest-news-item {
    border-bottom: #DDD;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.latest-news-item:last-of-type {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.login-options {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
}
.login-options li {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
.login-options li:last-of-type {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}
.login-username, .login-avatar {
    text-align: center;   
}
.login-username {
    font-size: 20px;   
}
.login-avatar {
    margin-bottom: 20px;
}
.login-avatar img {
    border: 5px solid #DDD;
    border-radius: 100px;
    width: 130px;
}
.component-title {
    margin-bottom: 40px;   
}
.footer-content {
    padding: 20px;   
}