:root {
    --link: #DC5842;
    --link-accent: #DE3114;
    --base: #1E1F26;
    --accent: #4D648D;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    color: #333;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    background: url('../../../../core/assets/autumn-forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}
a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    color: var(--link-accent);  
}
.button {
    color: #FFF !important;
    background: var(--link);
    padding: 10px 20px;
    text-decoration: none !important;
    display: inline-block;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .25s;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
}
.button:hover {
    background: var(--link-accent);
}
.green-button {
    background: #0BAB62;   
}
.green-button:hover {
    background: #53C390;   
}
.red-button {
    background: #F72610;   
}
.red-button:hover {
    background: #FF7A6C;   
}
.float-right {
    float: right;   
}
.sidebar {
    background: var(--base);
    min-height: 100vh;
    color: #FFF;
    position: relative;
    z-index: 15;
    transition: height .25s;
}
.menu-header {
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    padding: 7px;
    float: left;
}
.menu-header a {
    color: #FFF;
    text-decoration: none;   
}
.white-card {
    background: #FFF;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(51,51,51,0.5);
    box-shadow: 0px 2px 5px 0px rgba(51,51,51,0.5);
}
.white-card > h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}
.main-content {
    padding-top: 74.25px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.menu-container ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.menu-container a {
    color: var(--base);
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: color .25s;
    font-size: 14px;
    line-height: 14px;
}
.admin-menu-category:first-of-type {
    border-top: none;   
}
.admin-menu-category {
    padding: 10px;
    border-top: 1px solid var(--base);
    border-bottom: 1px solid var(--base);
    background: var(--base);
    color: #FFF;
}
.admin-menu-category i {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}
.admin-menu-container {
    border-left: 1px solid var(--base);
    border-right: 1px solid var(--base);
    border-bottom: 1px solid var(--base);
    margin-bottom: 20px;
}
.admin-menu-subitems {
    padding: 10px 0px;
}
.menu-container a:hover {
    color: #000;
}
.action-bar {
    position: relative;
    width: 100%;
    background: var(--accent);
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: right;
    height: 68px;
    z-index: 10;
}
.action-bar .dropdown-toggle::after {
    display: none;   
}
#adminUserMenu {
    display: inline-block;
    height: 38px;
}
.admin-header {
    background: var(--base);
    color: #FFF;
    padding: 10px;
}
.admin-list {
    border-bottom: 1px solid #CCC;
    padding: 10px;
}
.admin-list:nth-of-type(even) {
    background: #E0E0E0;
}
.clearfix {
    content: " ";
    display: block;
    clear: both;
}
.centre-text {
    text-align: center;   
}
form label {
    font-weight: bold;   
}
.system-message {
    background: #FFF;
    padding: 20px;
    border-radius: 3px;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}
.system-message.success {
     background: #b2f2bb;  
}
.system-message.danger {
    background: #ffc9c9;   
}
.system-message.warning {
    background: #ffec99;   
}
.system-message.info {
    background: #a3daff;   
}
.card > h1, .card > h2, .card > h3, .card > h4 {
    margin-top: 0px;   
}
.version-label {
    position: relative;
    top: -2px;
}
.new-version-notes {
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.component-action-bar {
    border-bottom: 1px solid #333;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-align: right;
}
.component-action-bar a, .component-action-bar button {
    display: inline-block;
    margin-right: 20px;
}
.component-action-bar *:last-of-type {
    margin-right: 0px;   
}
.user-username {
    color: #FFF;
    display: inline-block;
    margin-left: 20px;
}
.user-username svg {
    display: inline-block;
    margin-left: 20px;
}
.module-type {
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px;
}
.module-type:last-of-type {
    margin-bottom: 0px;   
}
.component-item {
    border: 1px solid #DDD;
    margin-bottom: 15px;
    width: 50%;
}
.component-item:last-of-type {
    margin-bottom: 0px;
}
.component-title {
    background: #DDD;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
.component-controllers {
    padding: 15px;   
}
.component-controller {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
.component-controller:last-of-type {
    border-bottom: none;
    margin-bottom: 0px;
}
#adminUserMenu img {
    border-radius: 100px;
    border: 5px solid #FFF;
    margin-top: -5px;
}
.module-ordering {
    margin-top: -20px;
    margin-bottom: 20px;
}
.form-group .form-control {
    max-width: 50%;   
}
.component-filters {
    margin-bottom: 40px;   
}
.menu-container {
    background: #FFF;
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(45,48,51,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(45,48,51,0.5);
    box-shadow: 0px 5px 5px 0px rgba(45,48,51,0.5);
}
.menu-container .module {
    margin-bottom: 0px;
    border: none;
    overflow: inherit;
    background: none;
    box-shadow: none;
    padding: 0px;
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
}
.menu-container .module-inner {
    padding: 0px;   
}
.menu-container .menu-list, .menu-container .menu-list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu-container .menu-list li {
    position: relative;   
}
.menu-container .menu-list li.top-level {
    float: left;
}
.menu-container ul.menu-list > li > a {
    display: inline-block;
    padding: 15px;
    color: var(--link);
    text-decoration: none;
    transition: background .25s;
}
.menu-container ul.menu-list > li.active > a {
    background: var(--link);
    color: #FFF;
}
.menu-container ul.menu-list > li > a:hover {
    background: var(--link-accent);
    color: #FFF;
    cursor: pointer;
}
.menu-container .menu-list li.parent > ul {
    display: none;
}
.menu-container .menu-list li.first-child > a, .menu-container .menu-list li.second-child > a {
    background: var(--link);
    padding: 15px;
    border-bottom: 1px solid var(--blueberry);
    color: #FFF;
    display: block;
    min-width: 230px;
}
.menu-container .menu-list li.first-child:hover > a, .menu-container .menu-list li.second-child:hover > a {
    background: var(--link-accent);
    color: #FFF;
}
.menu-container .menu-list li.first-child:last-of-type > a, .menu-container .menu-list li.second-child:last-of-type > a {
    border-bottom: none;   
}
.menu-container .menu-list li.first-child.parent > a::after {
    content: "›";
    display: block;
    position: absolute;
    right: 15px;
    top: 12px;
    color: #FFF;
    font-size: 32px;
}
.menu-container .menu-list li.parent:hover {
    background: var(--link);
    color: #FFF !important;
}
.menu-container .menu-list li.parent:hover > a {
    color: #FFF;
}
.menu-container .menu-list li.parent:hover > ul {
    display: block;
    position: absolute;
    top: 46px;
    left: 0px;
    border-top: 1px solid var(--link);
}
.menu-container .menu-list li.parent.first-child:hover > ul {
    left: 230px;
    top: -1px;
}
.cms-name a {
    background: var(--link-accent) !important;
    color: #FFF !important;
}
.sidebar-menu {
    height: 100%;
    padding-top: 74.25px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.sidebar-container {
    background: #FFF;
    height: 100%;
    background: #FFF;
    border-radius: 5px;
    padding: 20px;
}
.comp-container {
    border-radius: 5px;
    border: 1px solid #333;
    margin-bottom: 20px;
}
.comp-container:last-of-type {
    margin-bottom: 0px;   
}
.comp-title {
    color: #FFF;
    background: #333;
    padding: 10px;
}
.comp-title svg {
    display: inline-block;
    width: 25px !important;
}
.comp-children a {
    display: block;
    color: var(--link);
    padding: 10px;
}