html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
    color: #FFF;
    padding: 10px 20px;
    border: 1px solid #FFF;
    text-decoration: none;
    transition: all .25s;
}
a:hover {
    background: rgba(255, 255, 255, .25);   
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url('../assets/forest.jpg');
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-container {
    width: 40vw;
    position: relative;
    z-index: 2;
    color: #FFF;
}
.error-header {
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
    font-size: 4rem;
    margin-bottom: 20px;
}
.error-content p:first-of-type {
    margin-top: 0px;   
}
.error-content p:last-of-type {
    margin-bottom: 0px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 60px;
}