.user-information {
    margin-top: 40px;   
}
.user-profile-avatar {
    border-radius: 5px;
}
.login-container h1 {
    margin-bottom: 40px;   
}
.login-options {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
}
.login-options li {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
.login-options li:last-of-type {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}