.user-information {
    margin-top: 40px;   
}
.user-profile-avatar {
    border-radius: 100px;
    border: 5px solid #DDD;
    margin-bottom: 20px;
}
.user-information ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}
.user-information li {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
.user-information li:last-of-type {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}
.login-container h1 {
    margin-bottom: 40px;   
}
.settings-container h3 {
    margin-bottom: 40px;   
}