<?xml version="1.0" encoding="utf-8"?>
<settings>
    <title>HTML</title>
    <description>Custom HTML Module.</description>
    <author>Chris Smith</author>
    <author_url>https://github.com/Smith0r</author_url>
    <version>1.2.0</version>
    <fields type="textarea" name="content" label="Module Content" />
</settings>