body {
    background: url('../templates/default/images/pattern.png');
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: 300;
}
a {
    color: var(--mist);
    text-decoration: underline;
}
a:hover {
    color: var(--stone);   
}
.body-container {
    max-width: 50vw;
    margin: 40px auto;
    background: #FFF;
}
.header-container {
    background: var(--shadow);
    padding: 15px 20px;
    color: #FFF;
}
.header-container .title {
    font-size: 26px;
    line-height: 26px;
}
.header-container .subtitle {
    font-size: 16px;
    line-height: 26px;
    float: right;
}
.hero-container {
    background-image: url('../core/assets/autumn-forest.jpg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    padding: 15vh 0px;
    text-align: center;
}
.hero-container h1 {
    margin: 0px;
    margin-bottom: 20px;
}
.install-container {
    border: 1px solid rgba(51, 51, 51, .25);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}