:root {
    --mist: #90AFC5;
    --stone: #336B87;
    --shadow: #2A3132;
    --foliage: #763626;
}
body {
    background: #F5F8FA;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: 300;
}
a {
    color: var(--mist);
    text-decoration: underline;
}
a:hover {
    color: var(--stone);   
}
.body-container {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 20px;
    margin-top: 40px;
}
.header-container {
    background: var(--shadow);
    padding: 15px 20px;
    color: #FFF;
}
.header-container .title {
    font-size: 26px;
    line-height: 26px;
}
.header-container .subtitle {
    font-size: 16px;
    line-height: 26px;
    float: right;
}